/* --**** DESKTOP ****-- */
header.have_sidebar.main.menu_03 {
    border-bottom: 1px solid #2400f6;
    /* box-shadow: 0px 3px 15px -6px rgba(36,0,246,1); */
}

/* --**** MOBILE ****-- */
@media(max-width:768px){
    *{
        margin: 0px;
        padding: 0px;
    }
}