/* --**** DESKTOP ****-- */

header.main .wrap {
    height: 70px;
    max-width: 1140px !important;
    width: auto;
}
header.main .logo {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
.logo a {
    height: 70px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
header.main ul.aside {
    float: left;
    width: 85%;
    padding: 0px;
    height: 70px;
    text-align: right;
    display: inline-table;
}

/* -**-- INICIO LOGIN --**- */
div#fidelityLogin {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 100%;
}
div#fidelityLoginForm:before {
    content: "Entrar na RDC Viagens";
    display: block;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 30px 0px;
    border: none;
    font-family: Roboto;
}
div.login_form {
    width: 226px;
    position: absolute !important;
    margin-top: 10px;
    border: 1px solid;
    background-color: #2400f6;
    height: 341px;
    top: 70%;
    right: 19px;
}
div.login_form label.login {
    width: 100%;
    padding: 10px;
}
div.login_form label.password {
    width: 100%;
    padding-right: 0px;
    padding: 0px 10px;
}
a#btnLogin {
    background-color: #fe7000;
    padding: 10px 0px;
    text-transform: none;
    width: auto;
    display: block;
    margin: 10px;
    text-align: center;
}
label.lblEmail.login:before {
    width: 100%;
    content: "Usuario:";
    display: block;
    text-align: left;
    color: #fff;
}
label.lblPassword.password:before {
    width: 100%;
    content: "Senha:";
    display: block;
    text-align: left;
    color: #fff;
}
.logged_in {
    display: contents;
}
/* -**-- FIM LOGIN --**- */

header.have_sidebar.main.menu_03 {
    border-bottom: 1px solid #2400f6;
    -webkit-box-shadow: 0px 9px 20px -8px rgba(36,0,246,1);
    -moz-box-shadow: 0px 9px 20px -8px rgba(36,0,246,1);
    box-shadow: 0px 9px 20px -8px rgba(36,0,246,1);
}

/* --**** MOBILE ****-- */
@media screen and (max-width:425px) {
    header.main {
        height: 60px;
        background-color: #2400f6;
    }
    header.main .wrap {
        height: 60px;
        max-width: 1140px !important;
        width: auto;
    }
    header.main .logo {
        height: 60px;
    }
    .logo a {
        height: 60px;
    }
    header.main .logo a img.mobile {
        margin: 0px;
        max-width: 120px !important;
        margin-left: 10px;
    }
    .mobile_header.menuLeft {
        float: left;
        height: 60px;
        width: 70%;
        display: table-cell;
    }

    .touch.menu_open {
        left: 368px;
        top: 20px;
        border: solid #fff;
        border-width: 3px 0;
    } 
    .touch.menu_open:before {
        content: "";
        display: block;
        height: 1px;
        margin-top: 5px;
        background: #fff;
        border: 1px solid #fff;
        color: #fff;
    }
    .touch.menu_open::after{
        border: 1px solid #fff;
        border-radius: 10px;
    }
    header.main ul.aside {
        float: none;
        width: 70%;
        padding: 0px;
        height: 60px;
        text-align: center;
        display: block;
        right: 0;
        top: 0;
        margin: 0px auto;
    }
    .label-hamburger{
        display: inline-flex;
        position: relative;
        top: -47px;
        left: 360px;
        border: 1px solid #fff;
        border-radius: 20px;
    }
    i.icon-list{
        height: 100%;
        width: 100%;
        display: table-cell;
    }
    .icon-list:before {
        content: "\e90c";
        color: #fff;
        margin: 0px;
        padding: 0px;
        font-size: 30px;
    }
    div#fidelityLogin {
        height: 60px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        position: relative;
        left: 80px;
    }
    button.showLoginForm.customBotaoAreaRestrita.btn.enter.send {
        background-color: #fff;
        color: #2400f6;
        padding: 4px 20px;
        font-weight: 600;
        font-family: Roboto;
    }
    .container>.mobile_header {
        height: 0px;
    }


    .provisorio {
        width: 110px !important;
        margin: 15px 0px 5px 15px !important;
      }
  
      /* Menu principal */
      .topoMenuMobile{
          text-align: center !important;
      }
      #menu-principal-mobile {
        background-color: #2400f6 !important;
        width: 70% !important;
        min-height: 100% !important;
      }
  
      #menu-principal-mobile li {
        list-style: none !important;
        padding-top: 10px;
        text-align: left;
      }
  
      #menu-principal-mobile li a {
        width: 100% !important;
        color: #ffffff !important;
        text-decoration: none !important;
        font-family: 'Roboto' !important;
        font-size: 1.1rem !important;
        font-weight: 600 !important;
        margin-left: 10px !important;
        text-decoration: none;
      }
      #menu-principal-mobile ul li{
        border-left: 1px solid #ffffff !important;
      }
      #menu-principal-mobile .checkbox-menu {
        display: none !important;
      }
  
      #menu-principal-mobile li label {
        width: 100% !important;
        color: #ffffff !important;
        text-decoration: none !important;
        font-family: 'Roboto' !important;
        font-size: 1.1rem !important;
        font-weight: 600 !important;
        margin-left: 10px !important;
      }
  
      .label-sub1 {
        margin-left: 25px !important;
      }
  
      .label-sub2 {
        margin-left: 40px !important;
      }
  
      ul ul {
        display: none !important;
        padding-left: 20px;
      }
  
      #pacotes:checked~ul {
        display: block !important;
        background: #2400f6 !important;
      }
  
      #pac-norte:checked~ul {
        display: block !important;
        background: #2400f6 !important;
      }
  
      #pac-nordeste:checked~ul {
        display: block !important;
        background: #2400f6 !important;
      }
  
      #pac-centro-oeste:checked~ul {
        display: block !important;
        background: #2400f6 !important;
      }
  
      #pac-sudeste:checked~ul {
        display: block !important;
        background: #2400f6 !important;
      }
  
      #pac-sul:checked~ul {
        display: block !important;
        background: #2400f6 !important;
      }
      #nav-menu-mobile {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.28);
        transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        left: -300%;
        z-index: 9;
        height: 100%;
      }
      #menu-hamburguer:checked~#nav-menu-mobile {
        left: 0;
      }
      #show_menu:checked~#nav-menu-mobile {
        left: 0;
      }
      .close{
        display: block;
        font-size: 0;
        height: 100%;
        width: 30%;
        cursor: pointer;
        position: initial;
        margin: 0px;
        padding: 0px;
        float: right;
      }
      
  
      /* Redes Sociais */
      .redes-sociais {
        height: 100%;
        padding: 20px 0px;
        text-align: center;
      }
      #menu-principal-mobile table {
        width: 100% !important;
        height: max-content !important;
        display: table;
      }
  
      #menu-principal-mobile table tr {
        width: 100% !important;
        height: max-content !important;
      }
  
      #menu-principal-mobile table tr td {
        width: 25% !important;
        height: max-content !important;
        text-align: center !important;
      }
      #menu-principal-mobile table tr td a{
        text-decoration: none;
      }
      #menu-principal-mobile span {
        width: 100% !important;
        color: #ffffff !important;
        text-decoration: none !important;
        font-family: 'Roboto' !important;
        font-size: 1.1rem !important;
        font-weight: 600 !important;
        padding: 30px 0px;
        display: block !important;
      }
      #menu-principal-mobile i::before {
        color: #fff !important;
        font-size: 30px;
      }
}