/* --**** HOME ****-- */
.tp-bullets.hesperiden.horizontal.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal {
    display: none;
}

.search_engine_v2.custom_engine .tabs {
    position: relative;
    top: -64px;
    padding: 0px;
}
.search_engine_v2.custom_engine > .content {
    float: none;
}